/* Hoja de estilos - Style Sheet */

html {
  background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(13,124,0,1) 60%, rgb(241, 158, 15) 100%);
  overflow: auto;
  font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
  margin: 0;
}

body {
  width: auto;
  height: auto;
  color:black;
  margin:20px 20px 20px 20px;
  padding: 15px;
  border: 6px solid linear-gradient(80deg, rgba(0,0,0,1) 0%, rgba(13,124,0,1) 100%);
  border-radius: 2ex;
  background-color: white;
  align-self:center;
}

/*  Cabecera  */
header {
  height: 30px;
}


/* Encabezados - Headings */

h1 {
  margin: 0;
  padding: 20px 0;
  color: black;
  text-align: center;
  font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
  font-size: 50px;
  min-width: auto;
}
  
h2 {
  margin: 0;
  padding: 0 0 0 0;
  color: black;
  text-align: center;
  font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
  font-size: 25px;
  min-width: 1px;
}
  
h3 {
  font-size: 1.2rem;
  font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
  text-align: center;
  margin:4px;
  min-width: auto;
  min-height: auto;
}

ol {
  font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
  
}

/* Contenedores - Containers */
     
.contenedorIntroduccion
  {  display: flex;
    justify-content: center;
  }

.contenedorSelector {
  justify-content:left;
  width: auto;
  height: auto;
  padding: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  place-content: center;
  font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
}

.contenedorGen
  {
    width: auto;
    height: auto;
    padding: 0.6rem;
    margin:5px;
    display: flex; 
    row-gap: 7px;
    column-gap: 7px;
    columns: 4;
    flex-direction:row;
    display: none;
  }

  #contenedorPeticion
  {
    flex-wrap: wrap;
    justify-content: center;
  }

  #contenedorContrato
  {
    flex-wrap: wrap;
    justify-content: center;
  }

  #contenedorMandato
  {
    flex-wrap: wrap;
    justify-content: center;
  }

  #contenedorTutela
  {
 
    flex-wrap: wrap;
    justify-content:center;
  }

.item 
  {
    border: 5px solid #fff9f9;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
    background-color: rgb(237, 237, 237);
    border-radius: 2ex;
    border-style:groove;
    min-width: 19%;
    max-width: 180px;
    height: fit-content;
  }

  .item-11
  {

    padding: 1rem;
    font-size: 1rem;
    height: auto;
    width: auto;
    max-width: fit-content;
  }


  .textoIntroductorio
    {
      font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
      font-size: 17px;
    }

 

link {
  color: green;
}


p
 {
  font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
  min-width: 100px;
  min-height: auto;
  }
  .parrafosFormulario
    {
      font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
      font-size: 0.9rem;
      margin:7px;
    }
      #parrafoIntro
      {
        text-align: left;
        padding: 1ex;
        font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
        width: auto;
        
        max-width: 500px;
        height: auto;
        border-style: groove;
        border-width: 4.5px;
        border-radius: 2ex;
        border-color: darkgreen;
        background-color: black;
        color: white;
        font-size: 17px;
      }
      #parrafoSelector
      {
        font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
      }
      #contenidoFundamentos
      {
        font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
      }
      .letrachiquita
      {
        font-size: 0.5rem;
      }
select 
  {
      width: 90%;
      min-width: 1px;
  }

#footer {
  margin-top: auto;
  margin-left: auto;
  font-size: medium;
  font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
  margin-right:3px;
  display:block;
  text-align: center;
  border-radius: 5ex;
  margin-bottom: 3px;
}


#section {
  color: black;
  font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
  margin-bottom: auto;
}

#fecha {
  color:black;
}

#logo {
  width: 80px;
  height: "auto";
  display: block;
  margin: auto;
}

button
  {
    color:black;
  }
  #botonModoNocturno
  {
    color: black;
    background-color: black;
    border-radius:60%;
    height:30px;
    width: 30px;
    border-color: silver;
    border-width: 1.3px;
  }


  .botonesFormulario
    {
      margin-top: 1ex;
      width: fit-content;
      background: white;
      background-color: white;
      align-self: right;
      border-radius: 2ex;
      border-color: green;
      
    }:focus /* Flashing -- As in nxworld's Codepen: https://codepen.io/nxworld/pen/ZYNOBZ */ { 
    opacity: 1;
    -webkit-animation: flash 1s;
    animation: flash 1s;
    }
    .botonesSelector
    {
      background-color: black;
      color: white;
      width: 160px;
      font-size:medium;
      border-radius: 1.5em;
      padding: 0.3rem;
      border-color: green;
      font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
      font-weight: bold;
      margin: 5px;
      cursor: pointer; /* Cambiamos el cursor para indicar que es interactivo */
      transition: transform 0.3s ease; /* Agregamos una transición suave en la propiedad transform */
    }
    .botonesSelector:hover{
      color: rgb(28, 165, 12);
      transform: translateY(4px); /* Al hacer hover, el botón se desplazará hacia abajo 5px */
    }
    .botonesSelector:active {
      transform: translateY(0); /* Cuando se presiona el botón, el desplazamiento vuelve a cero */
    }
    @-webkit-keyframes flash {
      0% {
        opacity: .4;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes flash {
      0% {
        opacity: .4;
      }
      100% {
        opacity: 1;
      }
}
      .contenedorBotones
  {
    width: auto;
    height: auto;
    padding: 0.6rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px,1fr));
    place-content: center;
  }

  #contenedorBotonesAcciones
  {
    margin-top: auto;
    margin-left: auto;
    display: flex;
    place-content: center;
  }

.itemBoton
  {
    padding: 0.3rem;
    margin: 0.3rem;
    font-size: 1rem;
    
    display: flex;
    justify-content: center;
  }

      #botonCopiar{
        background-color: black;
        color: white;
        width: auto;
        border-radius: 2em;
        border-color: green;
        font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: medium;
        cursor: pointer; /* Cambiamos el cursor para indicar que es interactivo */
        transition: transform 0.3s ease; /* Agregamos una transición suave en la propiedad transform */
      }

      #botonCopiar:hover {
        transform: translateY(4px); /* Al hacer hover, el botón se desplazará hacia abajo 5px */
      }
      
      #botonCopiar:active {
        transform: translateY(0); /* Cuando se presiona el botón, el desplazamiento vuelve a cero */
      }


      #botonExportar
      {
        background-color: black;
        color: white;
        width: auto;
        border-radius: 2em;
        border-color: green;
        font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: medium;
        cursor: pointer; /* Cambiamos el cursor para indicar que es interactivo */
        transition: transform 0.3s ease; /* Agregamos una transición suave en la propiedad transform */
      }

      #botonExportar:hover {
        transform: translateY(4px); /* Al hacer hover, el botón se desplazará hacia abajo 5px */
      }
      
      #botonExportar:active {
        transform: translateY(0); /* Cuando se presiona el botón, el desplazamiento vuelve a cero */
      }

input
	{
	 background-color:#FFFFFA;
   width: 90%;
   min-width: auto;
	}

   /* Set the initial height and other styles as needed */
   #inputTextoHechosPeticion {
    width: 90%; /* You can adjust the initial width as needed */
    min-width: 50px; /* Set a minimum width */
    min-height: 24px; /* Set a minimum height */
    resize:both; /* Optional: Disable manual resizing by the user */
    font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
  }
  #inputTextoEntidad {
    width: 90%; /* You can adjust the initial width as needed */
    min-width: 50px; /* Set a minimum width */
    min-height: 24px; /* Set a minimum height */
    resize:both; /* Optional: Disable manual resizing by the user */
    font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
  }
  #inputTextoPeticion{
    width: 90%; /* You can adjust the initial width as needed */
    min-width: 50px; /* Set a minimum width */
    min-height: 24px; /* Set a minimum height */
    resize:both; /* Optional: Disable manual resizing by the user */
    font-family: 'Open Sans', system-ui, 'Helvetica Neue', sans-serif;
  }
strong{
  min-width: auto;
}
#strongCrea {
  font-weight: bold; /* Establece el grosor de la fuente */
  color: transparent; /* Hace que el texto sea transparente */
  animation: rotateImages 7s linear infinite; /* Inicia la rotación de las imágenes una vez que la página ha cargado */

  /* Define las imágenes de fondo */
  background-image: url('imagenes/crea1.webp');
  background-size: 69%; /* Ajusta el tamaño de las imágenes de fondo */
  background-clip: text; /* Aplica el fondo solo al área del texto */
  -webkit-background-clip: text; /* Para navegadores basados en Webkit como Chrome y Safari */
  -webkit-text-fill-color: transparent; /* Hace que el color del texto sea transparente en navegadores Webkit */
}

@keyframes rotateImages {
  0% {
    background-position: 0 0, 0 0, 0 0; /* Posiciones iniciales de las imágenes de fondo */
  }
  100% {
    background-position: 100% 0, 200% 0, 300% 0; /* Posiciones finales de las imágenes de fondo */
  }
}






/* EXPERIMENTAL*/

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup-content {
  background-color: white;
  padding: 15px;
  border-radius: 2ex;
  max-width: 400px;
  margin: 10% auto;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}



/*  Imagen QR al click */

#imagenSuperpuesta {
  position: fixed;
  top: 120px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Fondo semi-transparente */
  display: none; /* Oculta la imagen superpuesta inicialmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  z-index: 10; /* Asegura que esté sobre el resto del contenido */
}
#imagenSuperpuesta img {
  max-width: 300px; /* Tamaño máximo de 300px */
  max-height: 300px;
}