/* Hoja de estilos - Style Sheet */

html {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(13,124,0,1) 50%, rgba(0,0,0,1) 100%);
  overflow: auto;
}

body {
  width: auto;
  height: auto;
  color:black;
  margin: 30px;
  padding: 9px 10px 10px 10px;
  border: 9px solid linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(13,124,0,1) 50%, rgba(0,0,0,1) 100%);
  border-radius: 2ex;
  background-color: white;
}

/* Encabezados - Headings */

h1 {
  margin: 0;
  padding: 20px 0;
  color: black;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
}
  
h2 {
  margin: 0;
  padding: 0 0 0 0;
  color: black;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
}
  
h3 {
  font-size: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin:4px;
  min-width: 10px;
}

ol {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

/* Contenedores - Containers */
     
.contenedorIntroduccion
  {  display: flex;
    justify-content: center;
  }

.contenedorPeticion
  {
    width: auto;
    height: auto;
    padding: 0.6rem;
    background-color: white;
    display: grid;

    grid-template-rows:repeat(6,auto);
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-template-areas: 
      "item1 item2"
      "item3 item4"
      "item5 item6"
      "item7 item8"
      "item9 item10"
      "documento documento"
      "documento documento"
    ;
    row-gap: 15px;
    column-gap: 15px;
  }

.item 
  {
    border: 5px solid green;
    padding: 0.4rem;
    font-size: 1rem;
    background-color: white;
    border-radius: 2ex;
    border-style:groove;
    min-width: auto;
  }

  .item-1 
  {

    padding: 0.5rem;
    font-size: 1rem;
    grid-area: item1;
  }

  .item-2
  {

    padding: 0.5rem;
    font-size: 1rem;
    grid-area: item2;
  }

  .item-3
  {

    padding: 0.5rem;
    font-size: 1rem;
    grid-area: item3;
  }

  .item-4
  {

    padding: 0.5rem;
    font-size: 1rem;
    grid-area: item4;
  }

  .item-5
  {

    padding: 0.5rem;
    font-size: 1rem;
    grid-area: item5;
  }

  .item-6
  {

    padding: 0.5rem;
    font-size: 1rem;
    grid-area: item6;
  }

  .item-7
  {

    padding: 0.5rem;
    font-size: 1rem;
    grid-area: item7;
  }

  .item-8
  {

    padding: 0.5rem;
    font-size: 1rem;
    grid-area: item8;
  }

  .item-9
  {

    padding: 0.5rem;
    font-size: 1rem;
    grid-area: item9;
  }


  .item-10
  {

    padding: 0.5rem;
    font-size: 1rem;
    grid-area: item10;
    height: auto;
  }

  .item-11
  {

    padding: 0.5rem;
    font-size: 1rem;
    grid-area: documento;
    height: auto;
  }


  .textoIntroductorio
    {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 17px;
    }

link {
  color: green;
}


p
 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-width: 100px;
  min-height: auto;
  }
  .parrafosFormulario
    {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 0.9rem;
      margin:7px;
    }
      #parrafoIntro
      {
        text-align: left;
        padding: 1ex;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: auto;
        min-width: auto;
        max-width: 500px;
        height: auto;
        border-style: groove;
        border-width: 4.5px;
        border-radius: 2ex;
        border-color: darkgreen;
        background-color: black;
        color: white;
        font-size: 17px;
      }
      #contenidoFundamentos
      {
        font-family: serif;
      }
      .letrachiquita
      {
        font-size: 0.5rem;
      }
select 
  {
      width: 200px;
  }

#footer {
  margin-top: auto;
  margin-left: auto;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:black;
  opacity:100%;
  margin-right:3px;
  display:block;
  text-align: center;
}


#section {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: auto;
}

#fecha {
  color:black;
}

#logo {
  width: 80px;
  height: "auto";
  display: block;
  margin: auto;
}

button
  {
    color:blue;
  }
  .botonesFormulario
    {
      margin-top: 1ex;
      width: fit-content;
      background: white;
      background-color: white;
      align-self: right;
      border-radius: 2ex;
      border-color: green;
    }

      .contenedorBotones
  {
    width: auto;
    height: auto;
    padding: 0.6rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px,1fr));
    place-content: center;
  }

.itemBoton
  {
    padding: 0.3rem;
    font-size: 1rem;
    background-color: white;
    display: flex;
    justify-content: center;
  }

    
      #botonExportar
      {
        background-color: black;
        color: white;
        width: auto;
        border-radius: 2em;
        border-color: green;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
      }


input
	{
	 background-color:#FFFFFA;
   width: 90%;
   min-width: 30px;
	}

